 <h1>投稿する</h1>
 <%= form_with(model: @post, local: true) do |f| %>
  <div class="errors">
    <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
 </div>
 <div class="label">
    <%= f.label :content %>
  </div>
  <div class="content">
    <%= f.text_field :content %>
  </div>
  <br>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
